header {
  padding: 1rem 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-link {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: #000;
}
.nav-link.myshoplist-button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  color: #ff8c38;
  border: 1px solid #ff8c38;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
header nav .shoplist-title-icon-wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
header nav .shoplist-icon-wrapper {
  width: 45px;
  display: flex;
  align-items: center;
}
header nav .app-title {
  font-weight: 700;
  font-size: 1.5rem;
}
nav ul .signup-button {
  background-color: #ff8c38;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
nav ul .logout-button {
  background-color: #ff8c38;
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}
@media (min-width: 800px) {
  header {
    padding: 1rem 4rem;
  }
}
